html{
    width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: 0;
    font-size: 16px;
    overscroll-behavior: none;
    color: #000;
    /*font-family: Arial, sans-serif, Monospace;*/
    font-family: "DM Sans", sans-serif;
}

a {
    color: #000;
    /*text-decoration: none;*/
}

a:hover {
    text-decoration: underline;
}
.modal{
    pointer-events: none;
}
.modal-content{
    pointer-events: auto;
}
.nocursor {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: rgb(158, 232, 255, 0);
    -webkit-box-shadow: inset 0 0 6px rgb(158, 232, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #c0c2ce;
    /*-webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255, 0.6);*/
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
}


.fs-7{
    font-size: 0.85em;
}
#info {
    position: absolute;
    /*display: flex;
    flex-direction: column;*/
    top: 0px;
    max-width: 25%;
    min-width: 200px;
    margin: 1em;
    box-sizing: border-box;
    z-index: 1;
    /* TODO Solve this in HTML */
    text-align: left;

}

#info .info-text {
    display: flex;
    flex-direction: column;
    background: #e6e6e6;
    font-size: 0.85rem;
}

#info .list-group-item {
    background: transparent;
}

.key-icon {
    height: 1.5rem;
    width: auto;
}

a,
button,
input,
select {
    pointer-events: auto;
}

.lil-gui {
    z-index: 2 !important;
    /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
    .lil-gui.root {
        right: auto;
        top: auto;
        max-height: 50%;
        max-width: 80%;
        bottom: 0;
        left: 0;
    }
}

#overlay {
    position: absolute;
    font-size: 1em;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
}

#notSupported {
    width: 50%;
    margin: auto;
    background-color: #f00;
    margin-top: 20px;
    padding: 10px;
}

#hoverBox {
    position: absolute;
    display: none;
    background: #fff;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    /*border-radius: 4px;*/
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
    max-width: 400px;
    z-index: 1000;
    color: #000;
    flex-direction: column;
}


#hoverBox .title-container .pill {
    width: 0.8em;
    height: 0.8em;
}


#infographicBox {
    /*width: 100%;*/
    /*margin-top: 0.8em;*/
    height: 280px;
	width: 100%;
    background-color: #000;
    /*color: #888;*/
    /*font-style: italic;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;*/
}

#btns-about {
    font-size: 0.8em;
    left: 1em;
    z-index: 100;
    bottom: 1em;
}

.country-highlight {
  animation: pulse 1.5s ease-in-out infinite;
}


@keyframes pulse {
  0%   { r: 12; }
  50%  { r: 16; }
  100% { r: 12; }
}


.btn {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    display: inline-block;
    letter-spacing: .05em;
    padding: 3px 5px;
    white-space: nowrap;
    border-radius: 0;
    color: #000;
    font-weight: bold;
}

.btn:hover {
    background: #f0f0f0;
    border-color: #000;
}

.btn.enable {
    background: #e6e6e6;
}

.btn .label.disactive {
    display: none;
}

.btn .label.active {
    display: inline-block;
}

.btn.enable .label.disactive {
    display: inline-block;
}

.btn.enable .label.active {
    display: none;
}

.modal-content {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    border-radius: 0;
}
.color-legend span{
    display: inline-flex;
    height: 1em;
    width: 1em;
}